rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /evidences/{schoolId}/{periodId}/{userId}/{fileName} {
      allow read, write: if request.auth != null && request.resource.size < 20 * 1024 * 1024;
    }
  }
}
